extends layout

block content

  h1 #{title}: #{bookinstance.book.title} - Imprint #{bookinstance.imprint}
  p= bookinstance.lifespan

  p Do yout really want to delete this Book Instance?

  form(method='POST' action='')
    div.form-group
      input#bookid.form-control(type='hidden', name='bkinstanceid', required='true', value = bookinstance._id)
    button.btn.btn-primary(type='submit') Delete
